

.logo img{
    transform: translateY(10%);
}

.logoname {
    transform: translateY(-100%);
}

.forgottitle{ 
    display: flex;
    flex-direction: column;
    color: #212121; 
    font-weight: 500;
    margin-bottom: 50px;
}

.forgottitle h2{ 
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;
}

.forgotp {
    color: #454545;
    margin-top: 10px;
}

